@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body{
    background-color: rgb(0, 0, 0);
}

/* -------------------------------------------------------------------- navigation */

.navbar {
  font-family: "Exo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 28px;
}

.navbar-bg-color {
  background-color: rgb(0, 0, 0);
}

#logo {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0px;
}

/* -------------------------------------------------------------------- search box */

.search-box{
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: "Exo", sans-serif;
    color: #fafafa;
    padding-top: 35px;
}

.search-box button{
    height: 48px;
    margin: 0px;
    border: solid 3px #007bff;
    background-color: #fafafa;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.form-control{
    border: solid 3px #007bff;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
}

/* -------------------------------------------------------------------- search box */
/* .data-image{
    display: inline-block;
    width: 200px;
} */

.sky-section{
  background: url("../images/background-sky.jpg") center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

.data-image-article{
    text-align: center;
}

.data-image-article img {
	width: 100%;
    max-width: 200px;
	border-radius: 3px;
	border: 3px solid #fff;
	margin: 6px;
    -webkit-box-shadow: 0 0 3px 3px #ebebeb;
    box-shadow: 0 0 3px 3px #ebebeb;

}

#load-image{
    position: relative;
    height: 50vh;
    text-align: center;
    

}

#load-image img{
    height: 150px; 
    border-radius: 0px;
	border: none;	
    box-shadow: none;
	float: none;
    display: inline-block;    
}

.data-image-title{
    font-family: "Roboto", sans-serif;
    color: #fafafa;
    margin: 20px 0px;
    padding: 0;
}

.data-image-description{
  font-family: "Exo", sans-serif;
  color: #fafafa;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding: 0px;
  text-align: justify;
  overflow-wrap: break-word;
  
}


